<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiworkereeg.launcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:screenOrientation="portrait"  >
        <activity
            android:name="com.aiworkereeg.launcher.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.aiworkereeg.launcher.dnaConsoleActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >

        </activity>
        
         <service android:exported="false" android:name=".MusicService">
            <intent-filter>
                <action android:name="com.aiworkereeg.launcher.action.TOGGLE_PLAYBACK" />
                <action android:name="com.aiworkereeg.launcher.action.PLAY" />
                <action android:name="com.aiworkereeg.launcher.action.STOP" />
                <action android:name="com.aiworkereeg.launcher.action.PAUSE" />
                <action android:name="com.aiworkereeg.launcher.action.SKIP" />
                <action android:name="com.aiworkereeg.launcher.action.REWIND" />                
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.aiworkereeg.launcher.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>
        
        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        
        
    </application>

</manifest>
